body {
    margin: 0;
    background-color: whitesmoke;
}

.navbar {
    height: 100px;
    background-color: rgb(148, 28, 28); 
    color: whitesmoke;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.todo-list{
    background-color: white;
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;

    box-shadow: #efefef
    /* The top layer shadow */
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* the second layer*/
        0 10px 0 -5px #eee, 
        /* the second layer shadow*/
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* the third layer*/
        0 20px 0 -10px #eee,
        /* the third layer shadow*/
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
        padding: 30px;
}

.todo-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: 'Times New Roman', Times, serif , sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #333333;


}

input [type=checkbox]{
    margin-right: 10px;
    font-size: 30px;
}

input [type=checkbox]:focus {
    outline: 0;
}